 @import "../../../modules/sass/variables.scss";
 .common-title {
   h3 {
     display: inline;
   }
   span {
     font-size: 14px;
     line-height: 40px;
     padding-left: 5px;
     i {
       color: $btn-color;
     }
   }
   a {
     float: right;
     height: 20px;
     margin-top: 10px;
     margin-right: 20px;
     padding: 0 10px;
     background: #fff;
     border: 1px solid #e9e9e9;
     font-size: 14px;
     line-height: 20px;
     text-align: center;
     color: #3d3d3d;
   }
 }

 .personal-setting {
   height: 638px;
   padding-top: 60px;
   border: 1px solid #e9e9e9;
   dl {
     margin-bottom: 30px;
     font-size: 14px;
     line-height: 40px;
     color: #8e8e8e;
     overflow: hidden;
   }
   dt {
     float: left;
     width: 130px;
     text-align: right;
   }
   dd {
     position: relative;
     float: left;
     padding-left: 20px;
     .tel {
       display: inline-block;
       width: 135px;
       color: #3b3b3b;
     }
     input {
       height: 38px;
       width: 276px;
       padding: 0 10px;
       line-height: 38px;
       border: 1px solid #bcbcbc;
       border-radius: 3px;
     }
     i {
       display: block;
       line-height: 20px;
       color: #bebebe;
     }
     button {
       height: 36px;
       width: 158px;
       font-size: 14px;
       text-align: center;
       color: #fff;
       border-radius: 3px;
       background: #c4c4c4;
       line-height: 36px;
     }
     a {
       position: relative;
       display: inline-block;
       height: 80px;
       width: 80px;
       border: 1px solid #bcbcbc;
       border-radius: 50%;
       overflow: hidden;
       img {
         width: 100%;
         height: 100%;
       }
       span {
         position: absolute;
         left: 0;
         bottom: 0;
         height: 32px;
         width: 80px;
         font-size: 12px;
         background: rgba(0, 0, 0, 0.3);
         line-height: 24px;
         text-align: center;
         color: #fff;
       }
     }
   }
   .sex-chose {
     input {
       width: 18px;
       height: 18px;
       vertical-align: middle;
     }
     span {
       padding: 0 50px 0 10px;
     }
   }
   .confirm-btn {
     height: 40px;
     width: 124px;
     margin: 70px 0 0 262px;
     font-size: 14px;
     line-height: 40px;
     color: #fff;
     border-radius: 3px;
     background: $btn-color;
   }
 }

 // 地址管理
 .address-manage {
   font-size: 14px;
   border: 1px solid #e9e9e9;
   border-bottom: 0 none;
   table {
     width: 100%;
     text-align: center;
     table-layout: fixed;
   }
   td {
     border-bottom: 1px solid #e9e9e9;
   }
   thead {
     tr {
       height: 32px;
       line-height: 32px;
       background: #f8f8f8;
     }
   }
   tr {
     height: 105px;
   }
   .address-act {
     position: relative;
     a {
       display: block;
       text-align: center;
       line-height: 24px;
       color: $theme-color;
     }
     .set-default {
       color: $theme-color;
     }
     .default {
       color: #797979;
       cursor: text;
     }
   }
   .full-address {
     width: 225px;
   }
 }

 // 使用新地址
 .use-new-address {
   text-align: left;
   h2 {
     margin-bottom: 20px;
     font-size: 18px;
     line-height: 50px;
     font-weight: 400;
     padding-left: 5px;
   }
   dl {
     overflow: hidden;
     display: inline-block;
     margin-right: 3%;
     margin-bottom: 20px;
     width: 30%;
   }
   dt {
     float: left;
     width: 29%;
     text-align: right;
     line-height: 32px;
   }
   dd {
     float: left;
     width: 70%;
   }
   input {
     width: 90%;
     height: 30px;
     padding: 0 5%;
     border: 1px solid #e9e9e9;
     line-height: 30px;
   }
   .province-choice {
     width: 95%;
     text-align: left;
     dt {
       width: 9%;
     }
     dd {
       width: 90%;
     }
     select {
       height: 30px;
       width: 15%;
       margin-right: 2%;
       padding-left: 10px;
       color: #454545;
       border: 1px solid #e9e9e9;
     }
     input {
       width: 40%;
       padding: 0 2%;
       height: 30px;
     }
   }
   .set-default-choice {
     text-align: right;
     line-height: 40px;
     input {
       -webkit-appearance: initial;
       -moz-appearance: initial;
       -ms-appearance: initial;
       -o-appearance: initial;
       display: inline-block;
       width: 15px;
       height: 15px;
       padding: 0;
       border: 1px solid #7a7a7a !important;
       vertical-align: top;
       margin-top: 13px;
       margin-right: 10px;
     }
     input[type="checkbox"]:checked {
       border: none;
       background: url(./imgs/Icon-square-tick.png) no-repeat center;
     }
   }
 }

 .btn-content {
   margin-top: 30px;
   text-align: right;
   button {
     margin: 0 10px;
     height: 36px;
     width: 90px;
     font-size: 14px;
     text-align: center;
     color: #fff;
     border-radius: 5px;
     background: $btn-color;
     line-height: 36px;
   }
   .cancel-btn {
     background-color: #fff;
     color: #404040;
     border: 1px solid #e9e9e9;
   }
 }
