@import "../../modules/sass/variables.scss";
@import "../../modules/icon/style.css";
[v-cloak] {
    display: none;
}

//nav
.nav {
    height: 114px;
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
    li {
        float: left;
        height: 114px;
        width: 24.17%;
        margin: 0 5px;
        padding: 0 50px 0 23px;
        background-color: #f2f2f2;
        a {
            display: block;
            height: 114px;
            font-size: 30px;
            line-height: 114px;
            color: #606060;
        }
        i {
            font-size: 45px;
            color: $btn-color;
            line-height: 114px;
            vertical-align: middle;
        }
    }
}

//nav end
//recommendation
.recommendation-title {
    font-size: 30px;
    color: #242424;
    line-height: 70px;
    i {
        margin-right: 10px;
        font-size: 40px;
        line-height: 70px;
        color: $btn-color;
        vertical-align: middle;
    }
}

.recommendation {
    overflow: hidden;
    .recommendation-content-right {
        float: right;
        width: 443px;
    }
    .recommendation-content-left {
        margin-right: 457px;
    }
}

.query {
    width: 443px;
    .query-title {
        position: relative;
        height: 46px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        line-height: 46px;
        font-weight: 400;
        background-color: #b2b2b2;
        margin-top: 0;
    }
    .query-title:before {
        position: absolute;
        left: 80px;
        top: 23px;
        display: block;
        content: "";
        height: 2px;
        width: 60px;
        background-color: #fff;
    }
    .query-title:after {
        position: absolute;
        right: 80px;
        top: 23px;
        display: block;
        content: "";
        height: 2px;
        width: 60px;
        background-color: #fff;
    }
    .query-content {
        background-color: #f2f2f2;
        padding: 47px 0 25px 0;
        input {
            display: block;
            width: 390px;
            height: 38px;
            margin: 0 auto;
            padding-left: 10px;
            font-size: 14px;
            line-height: 38px;
            border: 1px solid #eaeaea;
        }
        .query-btn {
            display: block;
            height: 34px;
            width: 130px;
            margin: 40px auto 0;
            font-size: 14px;
            color: #fff;
            text-align: center;
            border-radius: 3px;
            background-color: $btn-color;
            letter-spacing: 15px;
            padding-left: 15px;
        }
    }
}

.accessories-recommendation-item {
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    overflow: hidden;
    li {
        float: left;
        height: 258px;
        width: 220px;
        border-right: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        a {
            position: relative;
            display: block;
            overflow: hidden;
            color: #3b3b3b;
            p {
                position: absolute;
                left: 0;
                bottom: 31px;
                height: 40px;
                width: 80%;
                z-index: 10;
                padding-left: 15%;
                padding-right: 5%;
                font-size: 18px;
                line-height: 40px;
                color: #fff;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        img {
            display: block;
            height: 220px;
            width: 220px;
        }
        span {
            display: block;
            float: right;
            padding-right: 20px;
            font-size: 18px;
            text-align: right;
            i {
                font-size: 24px;
                color: $theme-color;
                padding: 0 3px;
            }
        }
    }
}

.service-hotline {
    position: relative;
    height: 50px;
    width: 417px;
    margin-top: 108px;
    padding-left: 18px;
    font-size: 30px;
    line-height: 50px;
    color: #3b3b3b;
    background-color: #dcdcdc;
}

.service-hotline:before {
    position: absolute;
    top: -105px;
    left: 163px;
    display: block;
    content: "";
    height: 111px;
    width: 83px;
    background: url(imgs/kefu.png) no-repeat center;
}

.recommendation-content-left {
    li {
        position: relative;
        height: 290px;
        width: 100%;
        border: 1px solid #e7e7e7;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
        }
        .hot-logo {
            position: absolute;
            left: -30px;
            top: 10px;
            display: block;
            font-size: 14px;
            height: 30px;
            width: 100px;
            line-height: 30px;
            color: #fff;
            background: $btn-color;
            text-align: center;
            transform: rotate(-45deg);
        }
        .recommendation-rent {
            position: absolute;
            right: 18px;
            top: 18px;
            width: 215px;
            height: 250px;
            padding: 16px 14px 0 14px;
            border: 1px solid #dcdcdc;
            background-color: #fff;
            h4 {
                font-size: 18px;
                line-height: 24px;
            }
            span {
                display: inline-block;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                font-size: 14px;
                color: $btn-color;
                line-height: 1.5;
            }
            dl {
                overflow: hidden;
                font-size: 16px;
                line-height: 40px;
            }
            dt {
                float: left;
                width: 50px;
            }
            dd {
                float: left;
                position: relative;
                i {
                    font-size: 30px;
                }
                em {
                    position: absolute;
                    bottom: -30px;
                    left: 50px;
                }
            }
            .special {
                margin-left: 50px;
                line-height: 20px;
                color: $theme-color;
            }
        }
    }
    .recommendation-rent-detail {
        position: absolute;
        bottom: 6px;
        right: 15px;
        .recommendation-rent-num {
            float: left;
            padding-left: 4px;
            .num {
                font-size: 0;
                width: 100px;
                margin: 7px 0;
            }
            input {
                border: 0 none;
                width: 30px;
                height: 14px;
                font-size: 14px;
                line-height: 14px;
                padding: 0 5px;
                text-align: center;
                vertical-align: top;
            }
            i {
                font-size: 14px;
                vertical-align: top;
                &.active {
                    color: #ddd;
                    cursor: no-drop;
                }
            }
            em {
                font-size: 14px;
                line-height: 14px;
                padding: 0 7px;
            }
        }
        button {
            float: left;
            height: 29px;
            width: 92px;
            color: #fff;
            border-radius: 3px;
            background-color: $btn-color;
        }
    }
}

//recommendation end
.platform-introduct img {
    display: block;
    width: 100%;
}

//information-sense
//商家编辑的图片
.information-sense {
    overflow: hidden;
    margin-bottom: 80px;
}

//商家编辑的图片 end
.information-sense-lists {
    position: relative;
    float: left;
    width: 49%;
    border: 1px solid #c4c4c4;
    h3 {
        height: 50px;
        width: 96.1%;
        padding-left: 4%;
        font-size: 25px;
        line-height: 50px;
        font-weight: 400;
        color: #3b3b3b;
        background-color: #c4c4c4;
    }
    ul {
        height: 270px;
        padding: 20px 0 0 50px;
        margin-bottom: 50px;
        overflow: hidden;
    }
    .more {
        position: absolute;
        right: 10px;
        bottom: 15px;
        display: block;
        font-size: 20px;
        line-height: 40px;
        color: $btn-color;
    }
    li {
        height: 44px;
        font-size: 36px;
        line-height: 44px;
        color: $theme-color;
        list-style: disc;
        a {
            display: inline-block;
            vertical-align: bottom;
            height: 44px;
            font-size: 20px;
            line-height: 44px;
            color: #7a7a7a;
        }
    }
}

//information-sense end
