@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?') format('truetype'),
        url('fonts/icomoon.woff?') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shouhou2:before {
    content: "\e906";
}
.icon-aboutus:before {
    content: "\e900";
}
.icon-chache:before {
    content: "\e904";
}
.icon-dingdan2:before {
    content: "\e907";
}
.icon-Down:before {
    content: "\e909";
}
.icon-fanye:before {
    content: "\e90a";
}
.icon-geren:before {
    content: "\e90b";
}
.icon-gouwuche2:before {
    content: "\e90c";
}
.icon-Home:before {
    content: "\e90e";
}
.icon-home2:before {
    content: "\e90f";
}
.icon-IconCart:before {
    content: "\e910";
}
.icon-IconCircleDot:before {
    content: "\e911";
}
.icon-IconCircle:before {
    content: "\e912";
}
.icon-id:before {
    content: "\e913";
}
.icon-image:before {
    content: "\e914";
}
.icon-jia:before {
    content: "\e915";
}
.icon-jian:before {
    content: "\e917";
}
.icon-kefu2:before {
    content: "\e918";
}
.icon-key:before {
    content: "\e919";
}
.icon-ling:before {
    content: "\e91a";
}
.icon-packager:before {
    content: "\e91c";
}
.icon-pei:before {
    content: "\e91d";
}
.icon-post:before {
    content: "\e91e";
}
.icon-save:before {
    content: "\e920";
}
.icon-search:before {
    content: "\e921";
}
.icon-shou:before {
    content: "\e923";
}
.icon-shouhou:before {
    content: "\e925";
}
.icon-songhou:before {
    content: "\e926";
}
.icon-Truck:before {
    content: "\e927";
}
.icon-wen:before {
    content: "\e929";
}
.icon-yijian:before {
    content: "\e92a";
}
.icon-zhifu:before {
    content: "\e92b";
}
.icon-zhinan:before {
    content: "\e92c";
}
.icon-zhu:before {
    content: "\e92d";
}
.icon-ziyuan2:before {
    content: "\e92e";
}
.icon-user:before {
    content: "\e901";
}
.icon-gouwuche:before {
    content: "\e902";
}
.icon-home:before {
    content: "\e903";
}
.icon-order:before {
    content: "\e908";
}
.icon-delete:before {
    content: "\e922";
}
.icon-sorry:before {
    content: "\e924";
}
.icon-like:before {
    content: "\e905";
}

