<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>详情</title>
</head>

<body>
  <div id="app" v-cloak>
    <top></top>
    <search></search>
    <div class="main-content-w clearfix">
      <!--right-->
      <section>
        <!--个人中心-->
        <logstate></logstate>
        <!--购物车中心-->
        <minicart :state='state'></minicart>
      </section>
      <!--left  列表-->
      <div class="left-content mt13">
        <!--left  商品详情-->
        <div class="products-show mt13" v-if="merchandise">
          <div class="pictures-show">
            <div class="pictures-show-big"><img :src="imgs[showIndex]" alt=""></div>
            <div class="pictures-small-lists-wrap">
              <a class="left-btn icon-fanye" :class="{'bg-theme-color':imgIndex>0}" href="javascript:;" @click='change(-1)'></a>
              <ul id="imageList" :style="{'width': liWidth*imgs.length+'px','transform':'translateX(' + (-imgIndex*liWidth)+'px)'}">
                <li class="s-pic" v-for="(img,index) in imgs" :key="index" @click="showIndex = index" ><img :src="img" alt=""></li>
              </ul>
              <a class="right-btn icon-fanye" :class="{'bg-theme-color':imgIndex<imgs.length-4}" href="javascript:;" @click='change(1)'></a>
            </div>
          </div>
          <div class="products-details" v-if='state<3'>
            <h4>{{merchandise.name}}</h4>
            <span>{{merchandise.desc}}</span>
            <div class="mt13">
              <dl>
                <dt>售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</dt>
                <dd v-if='state === 1'><i>{{merchandise.discount}}</i>元/辆/月</dd>
                <dd v-else>
                  <i>{{merchandise.discount}}</i>元
                </dd>
              </dl>
              <dl>
                <dt>车 身 价：</dt>
                <dd><em>{{merchandise.price}}</em>元</dd>
              </dl>
              <dl>
                <dt>选择数量：</dt>
                  <count-control :state='state' :merchandise='merchandise' :num='number'></count-control>
              </dl>
              <dl v-if='state === 1'>
                <dt>租赁月数：</dt>
                  <month-control :mon='month'></month-control>
              </dl>
              <dl>
                <dt>运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：</dt>
                <dd>{{merchandise.freeShipping?'卖家承担':'买家承担'}}</dd>
              </dl>
              <dl>
                <dt>金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额：</dt>
                <dd><i>{{countMoney}}</i>元</dd>
              </dl>
            </div>
            <div class="btns">
              <button @click='addCart(merchandise)'>加入购物车</button>
              <button @click="goApply()">直接申请</button>
            </div>
          </div>
          <div class="products-details" v-if='state===3'>
            <h4>{{merchandise.name}}</h4>
            <dl class="mt13">
              <dt>单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</dt>
              <dd><i>{{merchandise.discount}}</i>元</dd>
            </dl>
            <dl>
              <dt>适配叉车</dt>
              <dd class="adaptation-situation-detail">
                <p v-for='adapter in merchandise.adapterForkliftType'>{{adapter}}</p>
              </dd>
            </dl>
            <div class="mt13">
              <dl>
                <dt>库存数量：</dt>
                <dd class="ftheme-color">{{merchandise.stock}}</dd>
              </dl>
              <dl>
                <dt>选择数量：</dt>
                  <count-control :state='state' :merchandise='merchandise' :num='number'></count-control>
              </dl>
              <dl>
                <dt>运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：</dt>
                <dd>{{merchandise.freeShipping?'卖家承担':'买家承担'}}</dd>
              </dl>
              <dl>
                <dt>金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额：</dt>
                <dd><i>{{countMoney}}</i>元</dd>
              </dl>
            </div>
            <div class="btns">
              <button @click='addCart'>加入购物车</button>
              <button @click="goApply()">直接申请</button>
              <span><i class='icon-like' :class="{'collected':isCollect}" @click='collect'></i>{{isCollect?"已收藏":"未收藏"}}</span>
            </div>
          </div>
        </div>
        <!--left  商品属性-->
        <div class="products-attributes mt13">
          <dl v-for="attr in attrList">
            <dt>{{attr.name}}</dt>
            <dd>{{attr.value}}</dd>
          </dl>
        </div>
        <!--left  图文-->
        <div class="image-text mt13" v-html="merchandise.detail">
        </div>
      </div>
    </div>
    <foot></foot>
  </div>
</body>

</html>
